{% load static %}


<div class="page-wrapper">
    <header class="header header-intro-clearance header-4">

        <div class="header-middle">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>

                    <a href="{% url 'home' %}" class="logo">
                        <h5>My Portfolio</h5>
                        <!-- <img src="assets/images/demos/demo-4/logo.png" alt="Molla Logo" width="105" height="25"> -->
                    </a>
                </div><!-- End .header-left -->

                <div class="header-center">
                    <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                        <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                        <form action="{% url 'search' %}" method="get">
                            <div class="header-search-wrapper search-wrapper-wide">
                                <label for="q" class="sr-only">Search</label>
                                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                <input type="search" class="form-control" name="q" id="q"
                                    placeholder="Search product ..." required>
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->
                </div>

                <div class="header-right">
                    <a href="tel:03177671818" style="color:black ;"><i class="icon-phone"></i>Call: +92 317 7671818</a>
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->

        <div class="header-bottom sticky-header">
            <div class="container">
                <div class="header-left">
                    <div class="dropdown category-dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" data-display="static" title="Browse Categories">
                            Browse Categories <i class="icon-angle-down"></i>
                        </a>

                        <div class="dropdown-menu">
                            <nav class="side-nav">
                                <ul class="menu-vertical sf-arrows">
                                    <li class="item-lead"><a href="{% url 'CatProduct' 'men' %}">Men</a></li>
                                    <li class="item-lead"><a href="{% url 'CatProduct' 'women' %}">Women</a></li>
                                    <li><a href="{% url 'CatProduct' 'shirts' %}">Shirts</a></li>
                                    <li><a href="{% url 'CatProduct' 'trousers' %}">Trousers</a></li>
                                    <li><a href="{% url 'CatProduct' 'short' %}">shorts</a></li>
                                    <li><a href="{% url 'CatProduct' 'pent' %}">Pants</a></li>
                                    <li><a href="{% url 'CatProduct' 'shoes' %}">shoes</a></li>
                                    <li><a href="{% url 'CatProduct' 'bags' %}">Bags </a></li>
                                </ul><!-- End .menu-vertical -->
                            </nav><!-- End .side-nav -->
                        </div><!-- End .dropdown-menu -->
                    </div><!-- End .category-dropdown -->
                </div><!-- End .header-left -->

                <div class="header-center">
                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container">
                                <a href="{% url 'Home' %}">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'AllProducts' %}">Shop</a>
                            </li>
                            <!-- <li>
                                <a href="#">Product</a>

                            </li>
                            <li>
                                <a href="#" class="sf-with-ul">Pages</a>

                                <ul>
                                    <li>
                                        <a href="about.html" class="sf-with-ul">About</a>

                                        <ul>
                                            <li><a href="about.html">About 01</a></li>
                                            <li><a href="about-2.html">About 02</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li> -->
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-center -->

                <div class="header-right" id="headercart"></div>
            </div><!-- End .container -->
        </div><!-- End .header-bottom -->
    </header><!-- End .header -->
</div>


<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container mobile-menu-light">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="{% url 'search' %}" method="get" class="mobile-search">
            <label for="q" class="sr-only">Search</label>
            <input type="search" class="form-control" name="q" id="q" placeholder="Search in..."
                required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab"
                    aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab"
                    aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel"
                aria-labelledby="mobile-menu-link">
                <nav class="mobile-nav">
                    <ul class="mobile-menu">
                        <li class="active">
                            <a href="{% url 'Home' %}">Home</a>

                          
                        </li>
                        <li>
                            <a href="{%url 'AllProducts' %}">Shop</a>
                        </li>
                       
                    </ul>
                </nav><!-- End .mobile-nav -->
            </div><!-- .End .tab-pane -->
            <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                <nav class="mobile-cats-nav">
                    <ul class="mobile-cats-menu">
                        <li class="mobile-cats-lead"><a href="{% url 'CatProduct' 'men' %}">Men</a></li>
                        <li class="mobile-cats-lead"><a href="{% url 'CatProduct' 'women' %}">Women</a></li>
                        <li><a href="{% url 'CatProduct' 'shirts' %}">Shirts</a></li>
                        <li><a href="{% url 'CatProduct' 'trousers' %}">Trousers</a></li>
                        <li><a href="{% url 'CatProduct' 'short' %}">shorts</a></li>
                        <li><a href="{% url 'CatProduct' 'pent' %}">Pants</a></li>
                        <li><a href="{% url 'CatProduct' 'shoes' %}">shoes</a></li>
                        <li><a href="{% url 'CatProduct' 'bags' %}">Bags </a></li>
                        <li class="item-lead"><a href="{% url 'CatProduct' 'men' %}">Men</a></li>
                        <li class="item-lead"><a href="{% url 'CatProduct' 'women' %}">Women</a></li>
                    </ul><!-- End .mobile-cats-menu -->
                </nav><!-- End .mobile-cats-nav -->
            </div><!-- .End .tab-pane -->
        </div><!-- End .tab-content -->

        <div class="social-icons">
            <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->